* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('Storytime.woff2') format('woff2');
}

body {
  background-color: rgb(148, 165, 103);
}

h1 {
  color: white;
  margin-top: 40px;
  font-family: 'MyWebFont';
  font-size: 30px;
}

img {
  padding: 20px;
  background-color: thistle;
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 87, 62);
  color: white;
  height: 80px;
  width: 160px;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 700px){

  img {
    width: 40%;
  }

  button {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
