:root {
  --mainFontColor: white;
  --mainBackgroundColor: #94a567;
  --buttonColor: #5c7540;
  --frameColor: #f0cdd8;
  --accentColor: #ff69b4;
  --mainFont: 'myWebFont';
  --buttonFont: 'chickenPie';
 
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'myWebFont';
  src: url('fonts/Storytime.woff2') format('woff2');
}

@font-face {
  font-family: 'chickenPie';
  src: url('fonts/ChickenPie.woff') format('woff');
}

body {
  background-color: var(--mainBackgroundColor);
}

h1 {
  color: var(--mainFontColor);
  margin-top: 40px;
  font-family: var(--mainFont);
  font-size: 30px;
}

.pinkText {
  color: var(--accentColor) ;
}

img {
  padding: 20px;
  background-color: var(--frameColor);
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 40px;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slideUp {
  background-color: black;
}

button {
  font-family: 'chickenPie';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttonColor);
  color: var(--mainFontColor);
  height: 80px;
  width: 160px;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(70, 87, 62);
  color: var(--accentColor)
}

.partyStarter {
  background-color:  
  var(--accentColor);
  width: 200px;
  height: 100px;
  border-radius: 50%;
}

.partyStarter:hover {
  background-color: rgb(218, 27, 122);
  color: var(--mainFontColor);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 700px){

  img {
    width: 40%;
  }

  button {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
