:root {
  --mainFontColor: white;
  --mainBackgroundColor: #94a567;
  --buttonColor: #5c7540;
  --frameColor: #f0cdd8;
  --accentColor: #ff69b4;
  --mainFont: 'myWebFont';
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'myWebFont';
  src: url('fonts/Storytime.woff2') format('woff2');
}

body {
  background-color: var(--mainBackgroundColor);
}

img {
  padding: 20px;
  background-color: var(--frameColor);
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slideUp {
  background-color: black;
}

.slothsDiv {
  display: flex;
  flex-direction: row;
}

.imgOfSloth {
padding: 0px;
width: 40px;
background-color: transparent;
margin: 10px;
margin-top: 40px;
}

.partyImage {
  margin-bottom: 80px;
}

@media screen and (min-width: 700px){

  .partyImage {
    margin-bottom: 40px;
  }

  img {
    width: 40%;
  }

  .imgOfSloth {
   margin: 40px;
   width: 40px;
   margin-bottom: 0px;
    }
    .partyStarter {
      margin-bottom: 40px;
    }
}
