:root {
  --mainFontColor: white;
  --mainBackgroundColor: #94a567;
  --buttonColor: #5c7540;
  --frameColor: #f0cdd8;
  --accentColor: #ff69b4;
  --mainFont: 'myWebFont';
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'myWebFont';
  src: url('fonts/Storytime.woff2') format('woff2');
}

body {
  background-color: var(--mainBackgroundColor);
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slideUp {
  background-color: black;
}

.slothsDiv {
  display: flex;
  flex-direction: row;
}


@media screen and (min-width: 700px){

    .partyStarter {
      margin-bottom: 40px;
    }
}
